{% extends "layout.html" %}

{% block pageTitle %}
  Confirm transfer to a new recipient
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/amount-new-transfer">Back</a>
{% endblock %}

{% block content %}

<style>
@media (min-width: 48.0625em) {
  .app-check-your-answers__question {
    width: 40% !important;
  }
}
</style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data['installationName']}}</span>
        Confirm transfer to a new recipient
      </h1>
      <form class="form" action="/confirmation-new-transfer" method="post">

      <p class="govuk-body-l"><!-- Confirm transfer to a new recipient --></p>


      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient name
          </dt>
          <dd class="app-check-your-answers__answer">
            Polimeri Europa UK
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/new-transfer">
              Change<span class="govuk-visually-hidden"> recipient</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Recipient ID
          </dt>
          <dd class="app-check-your-answers__answer">
            EU-100-77732-0-76
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/new-transfer">
              Change<span class="govuk-visually-hidden"> Amount</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
          Transfer amount
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['amount-transfer']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="/amount-new-transfer">
              Change<span class="govuk-visually-hidden"> Amount</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
          Balance after transfer
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['allowanceValue'] - data['amount-transfer'] }}
          </dd>
          <dd class="app-check-your-answers__change">

          </dd>
        </div>

</dl>
<div class="govuk-checkboxes" data-module="checkboxes">
  <div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
    <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
      Save this recipient so you can transfer to them again later
    </label>
  </div>
</div>
<div style="margin-top:40px">
          <button class="govuk-button">Complete transfer</button>
            </div>
  </form>
</div>
  <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          {{ data['installationName'] }}
          <span class="govuk-caption-m">
            You have {{ data['allowanceValue'] }} units of allowance
          </span>
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="transaction-history-transfer">
                View transaction history
              </a>
            </li>
            <li>
              <a href="start-submit">
                Cancel allowance
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

</div>
{% endblock %}
