{% extends "layout.html" %}

{% block pageTitle %}
  Surrender emissions allowance (ETS)
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Enviroment</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Climate change and energy</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Emissions and emissions trading</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  Your linked representative
</h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Add existing linked represenatvies
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="rep-1" name="rep1" type="checkbox" value="name1">
        <label class="govuk-label govuk-checkboxes__label" for="rep-1">
          Rep1
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="rep-2" name="rep2" type="checkbox" value="name2">
        <label class="govuk-label govuk-checkboxes__label" for="rep-2">
          Rep2
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="rep-3" name="rep3" type="checkbox" value="name3">
        <label class="govuk-label govuk-checkboxes__label" for="rep-3">
          Rep3
        </label>
      </div>
    </div>
  </fieldset>
</div>

{% endblock %}
