{% extends "layout.html" %}

{% block pageTitle %}
  Transaction history
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/choose-transfer">Back</a>
{% endblock %}

{% block content %}

<style>
</style>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data['installationName']}}</span>
        Transaction history
      </h1>
      <p class="govuk-body-l">You have 10234 units of allowance</p>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header" scope="col">Date created</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Reference</th>
            <th class="govuk-table__header " scope="col">ID of recipient</th>
            <th class="govuk-table__header" scope="col">Name of recipient</th>
            <th class="govuk-table__header" scope="col">Unit</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">In</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Out</th>
            <th class="govuk-table__header" scope="col">State</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Polimeri Europa UK Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Lloyd’s Register Quality Assurance Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">124233</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Polimeri Europa UK Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Bureau Veritas Certification Holding SAS - UK Branch</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">ERM Certification & Verification Services Ltd</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">DNV GL Business Assurance UK Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">314</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Lynemouth Power Station</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Polimeri Europa UK Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">532</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">DNV GL Business Assurance UK Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">98</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">456</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">BSI Assurance UK Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">45</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">73</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Polimeri Europa UK Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">123123</td>
            <td class="govuk-table__cell ">EU-100-77732-0-76</td>
            <td class="govuk-table__cell" scope="row">Scunthorpe Integrated Iron & Steel Works</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Approved</th>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">22 Nov 2018 14:24</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">1407</td>
            <td class="govuk-table__cell ">EU-100-77732-0-06</td>
            <td class="govuk-table__cell" scope="row">Nevern Power Limited</th>
            <td class="govuk-table__cell" scope="row">ETS</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">123</td>
            <td class="govuk-table__cell" scope="row">Pending</th>
          </tr>

        </tbody>
      </table>
    </div>

</div>
{% endblock %}
