{% extends "layout.html" %}

{% block pageTitle %}
  Enter your emissions
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/installation-transfer">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl">{{ data['whichinstallation']}}</span>
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data['which-installation']}}</span>
      Transfer to a new recipient
    </h1>


<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">


<form class="form" action="/check-existing-transfer" method="post">

  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="recipient-1">
      Recipient name
      <span class="govuk-visually-hidden">line 1 of 2</span>
      <input class="govuk-input govuk-input--width-5" id="amount-1" name="amount-1" type="number" value="{{ data['amount-1'] }}">
    </label>
    <label class="govuk-label" for="amount-1">
      Transfer amount
    </label>
  </div>


  <div class="govuk-form-group">

    <input class="govuk-input govuk-input--width-5" id="amount-1" name="amount-1" type="number" value="{{ data['amount-1'] }}">
    <span id="ID-hint" class="govuk-hint">
      Your balance after transfer is 36,742
    </span>
  </div>


  <button class="govuk-button">Continue</button>


</form>

</fieldset>

  </div>
</div>

{% endblock %}
